<h1>Listing products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th>Released at</th>
      <th>Cost</th>
      <th>Image</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.name, show_path(product.id) %></td>
        <td><%= truncate(product.content) %></td>
        <td><%= product.released_at %></td>
        <td><%= number_to_currency (product.cost) %></td>
        <td><%= link_to "my image", "/assets/#{product.image}" %></td> 
        <td><%= link_to 'Show', show_path(product.id) %></td>
       </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @products, :class=> "apple_pagination" %>
<%= link_to 'New Product', new_product_path %>

